.hljs {
    .hljs-attr {
        color: #f92672;
    }

    .hljs-boolean {
        color: #ae81ff;
    }

    .hljs-built_in {
        color: #a6e22e;
    }

    .hljs-comment {
        color: #75715e;
    }

    .hljs-keyword {
        color: #f92672;
    }

    .hljs-number {
        color: #ae81ff;
    }

    .hljs-operator {
        color: #f92672;
    }

    .hljs-property {
        color: #a6e22e;
    }

    .hljs-punctuation {
        color: #f8f8f2;
    }

    .hljs-string {
        color: #e6db74;
    }

    .hljs-variable {
        color: #f8f8f2;
    }

    .hljs-title {
        color: #f92672;
    }

    .hljs-tag {
        color: #f92672;
    }

    .hljs-params {
        color: #f8f8f2;
    }
}