.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-1 {
    background-image: linear-gradient(135deg,rgba(247,179,115,1) 0%, rgba(247,179,115,1) 33%, rgba(195,143,94,1) 33%, rgba(195,143,94,1) 66%, rgba(247,179,115,1) 66%, rgba(247,179,115,1) 100%);
}